.pic{
  border: 3px solid #fff;
  box-shadow: 0 10px 50px #5f2f1182;
  filter: sepia(30%) saturate(40%) hue-rotate(5deg);
  transition: transform 1s;
}
.pic:hover{
  filter: none;
  transform: scale(1.2) translateX(10px);
  z-index: 1;
}

